default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: texo-construction_development
  username: admin
  password:

test:
  <<: *default
  database: texo-construction_test
  username: admin
  password:

production:
  <<: *default
  database: <%= ENV['TEXO-CONSTRUCTION_DATABASE_NAME'] %>
  username: <%= ENV['TEXO-CONSTRUCTION_DATABASE_USERNAME'] %>
  password: <%= ENV['TEXO-CONSTRUCTION_DATABASE_PASSWORD'] %>