<div class="page-main-wrapper">
<div class="page-wrapper">

  <ng-include src="'navigation.html'"></ng-include>

  <header class="header about-us-header">
    <img src="<%= image_path("about_us/about_us_header.jpg")%>" alt="About us header image"/>
  </header>

  <section class="about-us-body">
    <div class="col-md-12 about-us-layout">
      <div class="">
        <h2 class="home-body-header-text"><img src="<%= image_path("home/tile_thing.png")%>" alt="Tile thing"/>WE KNOW YOUR NEEDS</h2>
        <div class="col-md-6">
            <p class="home-body-header-small-text">TEXO Construction Inc is an experienced, full-service team of building and remodeling experts. Our company is licensed and insured. We have worked in a Pennsylvania, New Jersey and Delaware areas for almost 8 years, assisting our residential and commercial customers on numerous projects, varying in size and degree of complexity. This includes, but is not limited to: private homes, residential multi-family properties, offices, retail, restaurants, healthcare facilities.
            </p>
            <p class="home-body-header-small-text">
              We make every project a complete success, as we communicate with our customers clearly, pay attention to detail and work efficiently. Our business philosophy is to provide our clients with outstanding, personalized and enjoyable service and delivering a great product within scope, on time and on budget. Allow TEXO to work for you and let us impress you !
            </p>
        </div>
        <div class="col-md-6">
          <img class="about-us-image-position" src="<%= image_path("about_us/about_us_main.jpg")%>" alt="About us image"/>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

  <ng-include src="'footer.html'"></ng-include>

</div>
</div>