<footer class="footer">
  <div class="footer-left-dots"></div>

  <div class="footer-all-rights-text">
    <p class="footer-all-right-text-paragraph">© 2015 COPYRIGHT TEXOCONSTRUCTION INC.  All Rights Reserved.</p>
  </div>
  <div class="footer-empty-space"></div>

  <div class="footer-texo-text-wrapper">
    <div class="footer-texo-text-inner-wrapper inline-block-class">
      <p class="footer-texo-text-big">TEXOCONSTRUCTION</p>
      <p>Professional Builders & Renovators</p>
    </div>
    <div class="inline-block-class">
      <img src="<%= image_path("home/footer_x_sign.png")%>" alt="X Texo Mark"/>
    </div>
  </div>
  <div class="footer-dot-near-x"></div>
  <div class="footer-right-dots"></div>
</footer>
