<div class="page-main-wrapper">
  <div class="page-wrapper">
    <ng-include src="'navigation.html'"></ng-include>
    <header class="header">
      <ul class="bxslider">
        <li class="header-slide-1"><p class="header-slider-text">PLAN AND FOCUS</p></li>
        <li class="header-slide-2"><p class="header-slider-text">INNOVATION</p></li>
        <li class="header-slide-3"><p class="header-slider-text">COMMITMENT TO EMPLOYEES AND CUSTOMERS</p></li>
        <li class="header-slide-4"><p class="header-slider-text">RESPONSIBILITY</p></li>
      </ul>
    </header>

    <section class="home-body">
      <div class="col-md-4">
        <div class="home-body-tile">
            <h2 class="home-body-header-text"><img src="<%= image_path("home/tile_thing.png")%>" alt="Tile thing"/>2014 SAFETY AWARD WINNER</h2>
            <p class="home-body-header-small-text">In August 2014, TEXO CONSTRUCTION INC. was recognized for excellence in safety. We’re extremely proud of our field staff who continue to prove that ‘safety first, safety last, safety always’ is the best motto. In total, 15 AGC of Massachusetts firms received National Safety Awards for their model safety records. For more information visit texoconstruction.com</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="home-body-tile">
            <h2 class="home-body-header-text"><img src="<%= image_path("home/tile_thing.png")%>" alt="Tile thing"/>LEADERS OF ECO-INNOVATION</h2>
            <p class="home-body-header-small-text">&nbsp;The idea of eco-innovation is fairly recent. One of the first appearances of the concept of eco-innovation in the literature is in the book by Claude Fussler and Peter James.[1] In a subsequent article, Peter James defines eco-innovation as "new products and processes which provide customer and business value but significantly decrease environmental impacts"</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="home-body-tile">
            <h2 class="home-body-header-text"><img src="<%= image_path("home/tile_thing.png")%>" alt="Tile thing"/>CREATING A SAFE WORKPLACE</h2>
            <p class="home-body-header-small-text">&nbsp;Our company is only what our employees are. We really think it's good business to do the right thing for them, to make sure they feel comfortable, that they understand that we want the workplace to be safe, indeed won't tolerate unsafe conditions, same as they shouldn't have to. So it's really a win-win situation for the employees and for us."</p>
        </div>
    </div>
    </section>
    <ng-include src="'footer.html'"></ng-include>

  </div>
</div>
