/*
 *= require bootstrap
 *= require font-awesome
 *= require sb-admin
 *= require_self
 */

.login-form-wrapper{
  width: 450px;
  min-width: 450px;
  height: 410px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login-form-wrapper{
  width: 320px;
  min-width: 320px;
  height: 410px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login-panel-heading{
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bolder;
}

.red-border{
  border-color: rgba(239, 0, 18, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 0, 0, 0.6);
  outline: 0 none;
}

.Admin {
  overflow: hidden;
  min-height: 100%;
  padding-left: 225px;
  background: white;
}
.Admin-header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 350px;
}
.Admin-active {
  color: #fff !important;
  background-color: black;
}
.Admin-textarea {
  resize: none;
  min-height: 200px;
}
.Admin-post-image {
  width: 200px;
}